* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI';
}

body {
  background: linear-gradient(to right, #141e30, #243b55);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: white;
  padding: 40px;
  border-radius: 20px;
  width: 400px;
  text-align: center;
}

h2 {
  color: #0077b6;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input, select {
  padding: 12px;
  border-radius: 8px;
  border: 2px solid #00b4d8;
}

p {
  color: #0077b6;
}

h3 {
  color: #00b4d8;
}

button {
  padding: 12px;
  background: #00b4d8;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background: #0077b6;
}